.blocker{
    position: absolute; 
    left: 0; 
    bottom: 0; 
    width: 100vw;
    height: calc(100vh - 65px); 
    background-color: rgb(255, 255, 255, 0.2); 
    z-index: 100; 
    backdrop-filter: blur(20px);
}



.auth-card{
    width: 300px;
    height: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -300px 0 0 -150px;
    z-index: 101;
  }