<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>BriefBuilder</mat-panel-title>
  </mat-expansion-panel-header>

  <mat-form-field style="display: block">
    <mat-label>Project</mat-label>
    <mat-select [value]="SelectedProject" (selectionChange)="projectChanged($event)">
      <mat-option></mat-option>
      <mat-option *ngFor="let availableProject of AvailableProjects" [value]="availableProject">
        {{availableProject.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <p>Gewenst BVO Factor: {{SelectedBVOFactor()}}</p>

</mat-expansion-panel>  
