@use '@angular/material' as mat;

@import "bootstrap/scss/bootstrap";
@import '@angular/material/theming';

@include mat-core();

@import "../node_modules/parcoord-es/dist/parcoords.css";

$light-primary:  mat-palette($mat-light-green);
$light-accent:   mat-palette($mat-yellow);

$dark-primary:  mat-palette($mat-light-green);
$dark-accent:   mat-palette($mat-yellow);

$my-app-warn:    mat-palette($mat-deep-orange);
$my-app-theme:   mat.define-light-theme($light-primary, $light-accent, $my-app-warn);

$custom-typography: mat-typography-config(
  $font-family: 'Consolas'
);

@include angular-material-typography($custom-typography);
@include angular-material-theme($my-app-theme);

$angular-dark-theme: mat.define-dark-theme($dark-primary, $dark-accent, $my-app-warn);

.darkMode {
    @include angular-material-theme($angular-dark-theme);
}

.right-aligned-header > .mat-content {
    justify-content: space-between;
}

.mat-content > mat-panel-title, .mat-content > mat-panel-description {
  flex: 0 0 auto;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.hover-shadow {
    transition: all .25s linear;
    box-shadow: -5px -5px -5px -5px rgba(138, 194, 74, 0.8);
}

.hover-shadow:hover {
    box-shadow: -1px 10px 29px 0px rgba(138, 194, 74, 0.8);
}