<h1 mat-dialog-title>Cluster connecties</h1>
<div mat-dialog-content>Teken lijnen tussen clusters die u wilt verbinden met elkaar.</div>
<div id="connection_container" style=" background-color: #FFF;
                                cursor: default;
                                -webkit-user-select: none;
                                -moz-user-select: none;
                                -ms-user-select: none;
                                -o-user-select: none;
                                user-select: none;">
    
</div>
<div mat-dialog-actions>
    <button mat-button mat-dialog-close>Close</button>
</div>