
<div style="pointer-events: all;">
    <div style="position: absolute; right: 10px; bottom:100px; min-width:300px; z-index: 33;">
        <app-persistence></app-persistence>
    </div>
</div>  


<div style="pointer-events: all;">
    <div style="position: absolute; left: 10px; top:50px; min-width:300px; z-index: 33;">
        <mat-accordion>
            <app-briefbuilder></app-briefbuilder>

            <app-bouwconcept></app-bouwconcept>

            <app-grid-size></app-grid-size>

            <app-clusters></app-clusters>
            
            <app-solver></app-solver>

            <app-diagnostics></app-diagnostics>

            <app-view></app-view>
        </mat-accordion>
    </div>
</div>  
